<div class="card">
  <p-toast></p-toast>
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <div class="my-2">
        <button
          pButton
          pRipple
          label="New"
          icon="pi pi-plus"
          class="p-button-primary mr-2"
          (click)="openNew()"></button>
      </div>
    </ng-template>
    <!-- Download CSV and PDF Buttons -->
    <ng-template pTemplate="right">
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-file-excel"
        class="p-button-success ml-auto"
        pTooltip="XLS"
        tooltipPosition="bottom"></button>
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-file-pdf"
        class="p-button-warning ml-2 mr-3"
        pTooltip="PDF"
        tooltipPosition="bottom"></button>
    </ng-template>
  </p-toolbar>

  <p-table
    [value]="payments"
    dataKey="id"
    [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 15%">Date</th>
        <th style="width: 15%">Name</th>
        <th style="width: 15%">Summary</th>
        <th style="width: 40%">Description</th>
        <th style="width: 10%"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-payment>
      <tr class="hover:bg-gray-100">
        <td [pEditableColumn]="payment.date" pEditableColumnField="code">
          {{ payment.date }}
        </td>
        <td [pEditableColumn]="payment.name" pEditableColumnField="name">
          {{ payment.name.name }}
        </td>

        <td [pEditableColumn]="payment.price" pEditableColumnField="price">
          {{ payment.price | currency: 'EUR' }}
        </td>
        <td
          [pEditableColumn]="payment.description"
          pEditableColumnField="description">
          {{ payment.description }}
        </td>
        <td style="text-align: center">
          <p-button
            icon="pi pi-times"
            (click)="deletePayment(payment)"
            pTooltip="Delete"
            styleClass=" p-button-danger "></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <!-- Popup window  -->
  <p-dialog
    [(visible)]="deletePaymentDialog"
    header="Confirm"
    [modal]="true"
    [style]="{ width: '450px' }">
    <div class="flex align-items-center justify-content-center">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
      <span *ngIf="payment"
        >Are you sure you want to delete payment
        <b>{{ payment.name.name }} {{ payment.price | currency: 'EUR' }}</b
        >?</span
      >
    </div>
    <ng-template pTemplate="footer">
      <button
        pButton
        pRipple
        icon="pi pi-times"
        class="p-button-text"
        label="No"
        (click)="deletePaymentDialog = false"></button>
      <button
        pButton
        pRipple
        icon="pi pi-check"
        class="p-button-text"
        label="Yes"
        (click)="confirmDelete()"></button>
    </ng-template>
  </p-dialog>

  <p-dialog
    [(visible)]="newPaymentDialog"
    [style]="{ width: '400px', height: '550px' }"
    header="New Paymnet"
    [modal]="true"
    class="p-fluid">
    <ng-template pTemplate="content">
      <p-calendar
        [(ngModel)]="newPayment.date"
        [readonlyInput]="true"
        [showIcon]="true"
        [placeholder]="toDate"
        required
        firstDayOfWeek="1"
        dateFormat="dd.mm.yy" />

      <div class="field mt-6">
        <label for="name">Name</label>
        <p-dropdown
          [options]="athletes"
          [(ngModel)]="newPayment.name"
          optionLabel="name"
          placeholder="Select an athelets"
          id="name"
          (onChange)="validateNewPayment(newPayment.name, newPayment.price)"
          [ngClass]="{
            'ng-invalid ng-dirty': submitted && !newPayment.name
          }" />

        <small class="ng-dirty ng-invalid" *ngIf="submitted && !newPayment.name"
          >Name is required.</small
        >
      </div>
      <div class="field mt-6">
        <label for="description">Description</label>
        <textarea
          id="description"
          pInputTextarea
          [(ngModel)]="newPayment.description"
          required
          rows="3"
          cols="20"></textarea>
      </div>

      <div class="field">
        <p-inputNumber
          [(ngModel)]="newPayment.price"
          [showButtons]="true"
          [min]="0"
          buttonLayout="horizontal"
          inputId="horizontal"
          spinnerMode="horizontal"
          [step]="1"
          (onInput)="validateNewPayment(newPayment.name, newPayment.price)"
          decrementButtonClass="p-button-danger"
          incrementButtonClass="p-button-success"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
          mode="currency"
          currency="EUR"></p-inputNumber>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        (click)="hideDialog()"></button>
      <button
        pButton
        pRipple
        label="Save"
        icon="pi pi-check"
        class="p-button-text"
        [disabled]="isSaveButtonDisabled"
        (click)="savePayment()"></button>
    </ng-template>
  </p-dialog>
</div>
