<div class="card">

    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <div class="my-2">
                <button
                    pButton
                    pRipple
                    label="New"
                    icon="pi pi-plus"
                    class="p-button-success mr-2"
                    (click)="openNew()"
                ></button>
                <!-- <button
                    pButton
                    pRipple
                    label="Delete"
                    icon="pi pi-trash"
                    class="p-button-danger"
                    (click)="deleteSelectedProducts()"
                    [disabled]="
                        !selectedProducts || !selectedProducts.length
                    "
                ></button> -->
            </div>
        </ng-template>

        <ng-template pTemplate="right">
       
            <!-- <button type="button" pButton pRipple icon="pi pi-file-excel"  class="p-button-success ml-auto" pTooltip="XLS" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-pdf"  class="p-button-warning ml-2 mr-3" pTooltip="PDF" tooltipPosition="bottom"></button> -->
        </ng-template>
    </p-toolbar>
    <p-table [value]="payments" dataKey="id" [tableStyle]="{ 'min-width': '50rem' }">
    
        <ng-template pTemplate="header">
            <tr>
                <th style="width:30%">Date</th>
                <th style="width:30%">Name</th>
                <th style="width:30%">Summary</th>
                <th style="width:10%">Edit</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-payment let-editing="editing">
            <tr class="hover:bg-gray-100">
                <td [pEditableColumn]="payment.date" pEditableColumnField="code" >
                   
                            {{ payment.date }}


                </td>
                <td [pEditableColumn]="payment.name" pEditableColumnField="name">
                    
                            {{ payment.name }}
                      
                </td>
                
                <td [pEditableColumn]="payment.price" pEditableColumnField="price">
                   
                            {{ payment.price | currency: 'EUR' }}
                       
                </td>
                <td>

                    <p-button icon="pi pi-trash" (click)="deletePayment(payment)" pTooltip="Edit" styleClass="p-button-rounded p-button-danger "></p-button>
                     <p-dialog
                        [(visible)]="deletePaymentDialog"
                        header="Confirm"
                        [modal]="true"
                        [style]="{ width: '450px' }"
                    >
                        <div class="flex align-items-center justify-content-center">
                            <i
                                class="pi pi-exclamation-triangle mr-3"
                                style="font-size: 2rem"
                            ></i>
                            <span *ngIf="payments"
                                >Are you sure you want to delete payment <b>{{ payment.name }} {{ payment.price | currency: 'EUR' }}</b
                                >?</span
                            >
                        </div>
                        <ng-template pTemplate="footer">
                            <button
                                pButton
                                pRipple
                                icon="pi pi-times"
                                class="p-button-text"
                                label="No"
                                (click)="deleteProductDialog = false"
                            ></button>
                            <button
                                pButton
                                pRipple
                                icon="pi pi-check"
                                class="p-button-text"
                                label="Yes"
                                (click)="confirmDelete()"
                            ></button>
                        </ng-template>
                    </p-dialog>
                </td>
          
            </tr>
        </ng-template>
    </p-table>

   
</div>